html, body {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    background-color: rgba(64, 74, 83, 1);
    margin: 0;
  }

.footer {
    display: flex;
    justify-content: flex-end;
    padding: 2%;
    background-color: white;
  }