html {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    background-color: var(--light-gray);
    margin: 0;
  }

.footer {
    display: flex;
    justify-content: flex-end;
    padding: 2%;
    background-color: white;
  }