section {  
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat; 
    height: 25%;

}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    height: 70px;
    
}

footer {
    text-align: right;
}

#surPlace {
    align-items: center;
    background-image: url(/assets/place_5.jpeg) ; 

   
}

#surLePouce {
    background-image: url(/assets/pouce_4.jpeg);
    
}

#jaiSoif {
    background-image: url(/assets/soif_3.jpeg);
    
}

#surprendsMoi {
    background-image: url(/assets/surprise_4.jpg);
 
}

.Logo {
  
    block-size:70px;
    position: fixed;
    top: 0;
    left: 0;

    
}

#titleLogo {
 justify-content: center;
 

}

