h1 {
    text-align: center;
}

footer {
    text-align: right;
}

#surPlace {
    background-image: url();
}

#surLePouce {
    background-image: url();
}

#jaiSoif {
    background-image: url();
}

#surprendsMoi {
    background-image: url();
}