ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
  li {
    float: right;
  } 
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover {
    background-color: grey;
    
  }
  .active {
    background-color: white;
  }
 h1 {
   font-size: 328%;
   color: white;
   padding-top: 45px;
  height: 150px;
  text-align: center;
  background-image: url("media/placeholder.jpeg");
  margin-left: -6px;
  scroll-margin-right: -6px;
  }
  
  .leproject {
    margin-left: 45px;
    margin-right: 45px;
    text-align: justify;
  text-justify: inter-word;
  }

h2 {
  text-align: center;
  margin-top: 55px;
  margin-bottom: 35px;
}
h3 {
  margin-top: 45px;
  text-align: center;
  margin-bottom: 55px;
}
  img {
    margin-bottom: 155px;
    margin: -8px;
    width: 34.26%;
    height: 299px;
    object-fit: cover;
  }

#teamfont {
font-size: 140%;
color: white;
}

#teamfontdos {
  font-size: 140%;
  color: white;
  }


.teamuno {
  display: none;
  position: absolute;
  bottom: 320px;
  left: 120px;
}
.teamdos {
  position: absolute;
  bottom: 320px;
  left: 420px;
  display: none;
}
.teamtres {
  position: absolute;
  bottom: 320px;
  left: 725px;
  display: none;
}

.teamcuatro {
  position: absolute;
  bottom: -10px;
  left: 90px;
}
.teamcinco {
  position: absolute;
  bottom: -10px;
  left: 420px;
  display: none;
}
.teamseis {
  position: absolute;
  bottom: -10px;
  left: 725px;
  display: none;
}

h4 {
  margin-top: 35px;
  text-align: center;
  margin-bottom: 35px;
}
#contact {
  width: 500px;
  margin: 0 auto;
font-size: 200%;
}
#objet {
margin-left: 50px;
}


#message {
  margin-left: 10px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
  width: 60%;
  padding: 1rem 0.8rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: 0;
  transition: border 0.15s;
  margin-bottom: 25px;
  margin-left: 60px;
}
.form-group input[type="text"],
.form-group input[type="email"] {
  height: 0.5rem;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  position: fixed;
  height: 70px;
  text-align: right;
  color: white;
  width: 100%;
  background-color: black;
}

button {
  font-size: 60%;
  margin-top: 50px;
  margin-bottom: 110px;
}
.textfooter {
  padding-right: 30px;
  font-size: 180%;
}
