@import './fonts.css';

.title {
    height: 10vh;
    text-align: center;
    text-transform: uppercase;
    font-family: var(--main-font-family);
    color: var(--main-wcs-color);
    background-color: var(--darker-gray);
    font-size: 48px;
    font-weight: 900;
    padding-top: 2vh;
}

h2 {
    text-align: center;
    padding: 10px;
    background-color: var(--dark-gray);
    color: white;
    font-family: var(--main-font-family);
    font-size: 30px;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.form-element {
    width: 85vw;
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
    font-family: var(--second-font-family);
}

label {
    text-transform: uppercase;
    color: white;
    font-weight: 800;
    font-size: 20px;
}

select {
    color: var(--main-wcs-color);
    font-weight: 600;
    border-radius: 5px;
    font-size: 20px;
    width: 200px;
}

.form-button{
    margin-top: 1em;
    color: white;
    font-weight: bold;
    text-align: center;
    font-family: var(--main-font-family);   
}


.simulateur-buttons {
    background-color: var(--main-wcs-color);
    border: 1px solid var(--dark-gray);
    font-weight: 700;
    color: white;
    font-size: 30px;
    padding: 5px 25px;
    border-radius: 16px;
    font-family: var(--main-font-family);
}

.simulateur-buttons:hover {
    box-shadow: 0 0.2em 0.2em 0;
    opacity: 1;
    font-weight: 900;
}

#search-close-button {
    border-radius: 50%;
    margin-bottom: 10px;
}

#other-search-close-button {
    border-radius: 50%;
    margin-top: 10px;
}

.search-results {
    background-color: var(--dark-gray);
    display: none;
}

.close-button {
    border-radius: 100%;
    margin: 5px auto;
}

.excuses-bidons {
    text-align: center;
    background-color: rgba(132, 145, 146, 75%);
    font-family: var(--second-font-family);
    font-weight: 900;
    margin-bottom: 50px;
    color: white
}

#excuse_button {
    margin-bottom: 10px;
}

.excuse {
    font-size: 20px;
}

.excuse-space {
    height: 10px;
}

/* BOXES SPECIFIC CSS */

.material-icons {
    font-family: 'Material Icons'; 
    font-weight: normal;
    font-style: normal;
    font-size: 30px; 
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    border: 1px var(--main-wcs-color) solid;
    border-radius: 50%;
    outline: none;
    background-color: var(--light-gray);
    text-decoration: none;
    color: var(--main-wcs-color);
} 

.cards {
    display: flex;
    margin-top: 10px;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;  
    flex-direction: row;
    background-color: var(--dark-gray);
}

.card {
    width: 100%;
    max-height: 35em;
    margin-bottom: 4em;
    background-color: var(--light-gray);
    box-shadow: 3px 3px 5px 3px var(--lighter-gray);
    font-family: var(--main-font-family);
    font-size: 20px;
}

.card-header {
    display: grid; 
    position: relative;
}

.card-image {
    width: auto;
    max-height: 100%;
}

.image-enseigne {
    max-width: 100%;
    height: auto;  
}

.favButton {
    position: absolute;
    /* align-self: start;
    justify-self: end; */
    border: none;
    border-radius: none;
    background-color: #11ffee00; /*transparent*/
    margin: 5px;
    color: red;
    /* -webkit-align-self: start; */
    /* -webkit-justify-self: end; */
    right: 0;
    top: 0%;
}

.favButton:hover {
    cursor: pointer;
}

.trajet {
    font-weight: bold;
    font-size: x-large;
    position: absolute;
    /* align-self: end;
    justify-self: end;  */
    background-color: var(--lighter-gray);
    color: white; 
    padding-left: 3px;
    bottom: 0;
    right: 0;
}

.card-body {
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 10fr);
    gap: 10px;
    grid-auto-rows: minmax(10px, auto);
    padding: 1em;
    height: 10em;
}

.nom-enseigne {
    grid-column: 1 / 4;
    grid-row: 1;
    padding: 0%;
    align-self: end;
    color: white;
}

.style-enseigne {
    align-self: baseline;
    grid-column: 1 / 5;
    grid-row: 2;
    font-size: 16px;
}

.prix-enseigne {
    grid-column: 5;
    grid-row: 2;
    justify-self: end;
    font-size:large;
}

.avis-enseigne {
    grid-column: 5;
    grid-row: 1;
    --percent: calc(var(--rating) / 5 * 100%);
    display: inline-block;
    font-size: 24px;
    font-family: Times;
    line-height: 1;
}

.avis-enseigne::before {
    content: '★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(90deg, orange var(--percent), var(--lighter-gray) var(--percent));
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}

.maps-enseigne {
    grid-column: 1;
    grid-row: 4;

}

.card-body button {
    grid-column: 5;
    grid-row: 3;
    height: 2.5em;
    width: 3em;
    justify-self: end;
    position: absolute; 
    border: none;
    border-radius: 0%;
}
.card-body button:hover {
    cursor:pointer;
}

.descript-enseigne {
    position: relative;
    display: none;
    grid-auto-rows: minmax(30px, auto);
    grid-auto-columns: minmax(10px, auto);
    font-size: smaller;
    padding: 1em;
    height: 15em;
}

.descript-text {
    grid-column: 1;
    grid-row: 1;
    font-size: 16px;
}


.descript-site {
    grid-column: 4;
    grid-row: 1;
    font-size: 16px;
}

.descript-coord {
    grid-column: 1;
    grid-row: 4;
    font-size: 16px;
}

.btn-close-card {
    grid-column: 7;
    grid-row: 3;
    padding: 1em;
    justify-self: end;
    position: absolute; 
    height: 2.5em;
    width: 3em;
    border: none;
}
.btn-close-card:hover {
    cursor:pointer;
}

/* CSS SPECIFIQUE AUX HEADER ET FOOTER */

html {
    flex-direction: column;
    background-color: var(--darker-gray);
    margin: 0;
    height: 100%;
    margin: 0;
}

main {
    padding: 5px;
    min-height: 100%;
    margin: 0 auto -10px;
}

footer {
    padding: 5px 25px 5px 5px;
    background-color: var(--darker-gray);
    text-align: right;
    position: fixed;
    bottom: 0;
    width: 100%;
} 

footer a {
    color: white;
    text-decoration: none;
    font-family: var(--second-font-family);
    font-weight: 800;
    padding-right: 20px; /* to fix label offset */
}

footer a:hover {
      text-decoration: underline;
}

.burger {
    height: 50px;
    width: auto;
}

 .topnav {
    background-color: var(--dark-gray);
    overflow: hidden;
  }

  .topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 22px;
    font-family: var(--main-font-family);
    height: 50px;
  }
  
  .topnav a:hover {
      background-color: var(--main-wcs-color);
  }

  .topnav .icon {
    display: none;
  } 

  .wild-logo {
    height: 76px;
}

  #topnav-logo {
      padding: 1px 16px;
      height: 78px;
  }

@media screen and (max-width: 800px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: right;
      height: auto;
    }
    #topnav-logo {
        text-align: left;
    }
}

@media screen and (min-width: 576px) { 
    .card { 
        width: 20em;
        max-height: 40em;
        margin: 3em;
    } 
    .card-header {
        width: 20em;
        max-height: 20em;
    }
    .image-enseigne {
        object-fit: contain;
    }    

    h2 {
        font-size: 26px;
    }

    select {
        width: 150px;
        font-size: 18px;
    }

    label {
        font-size: 18px;
    }

    .simulateur-buttons {
        font-size: 20px;
        padding: 3px 15px;
        border-radius: 8px;
    }

    .form-element {
        width: 65vw;
        margin: 5px 0;
    }
  } 