@import './fonts.css';
h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: var(--main-font-family);
    color: var(--main-wcs-color);
}

h2 {
    text-align: center;
    padding: 5px;
    background-color: var(--dark-gray);
    color: white;
    font-family: var(--main-font-family);
}

form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.form-element {
    margin: 5px;
}

label {
    text-transform: uppercase;
    color: white;
    font-weight: 800;
}

select {
    color: var(--main-wcs-color);
    font-weight: 600;
    border-radius: 5px;
}

.form-button{
    margin-top: 1em;
    color: white;
    font-weight: bold;
    text-align: center;
    font-family: var(--main-font-family);   
}

button {
    background-color: var(--main-wcs-color);
    border: 1px solid #404A53;
    font-weight: 700;
    color: white;
    font-size: 20px;
    padding: 3px 15px;
    border-radius: 8px;
    font-family: var(--main-font-family);
}

button:hover {
    box-shadow: 0 0.2em 0.2em 0;
    opacity: 1;
    font-weight: 900;
}

.excuses-bidons {
    height: 13em;
    text-align: center;
    background-color: var(--light-gray);
    font-family: var(--second-font-family);
}

.form-element {
    width: 65vw;
    display: flex;
    justify-content: space-between;
    font-family: var(--second-font-family);
}

.search-results {
    background-color: rgba(132, 145, 146, 50%);
    /* TEMPORAIRE */
    display: block;
    /* TEMPORAIRE */

    /* display: none; */
}

.results-elements {
    /* TEMPORAIRE */
    height: 500px;
    /* TEMPORAIRE */
}

.close-button {
    border-radius: 100%;
    margin: 5px auto;
}



/* COMMON CSS  */

html {
    flex-direction: column;
    background-color: var(--darker-gray);
    margin: 0;
    height: 100%;
    margin: 0;
}

main {
    padding: 5px;
    min-height: 100%;
    margin: 0 auto -10px;
}


/* FOOTER STYLING */
footer {
    padding: 5px 25px 5px 5px;
    background-color: var(--dark-gray);
    text-align: right;
    position: fixed;
    bottom: 0;
    width: 100%;
} 

footer a {
    color: white;
    text-decoration: none;
    font-family: var(--second-font-family);
    font-weight: 800;
    padding-right: 20px; /* to fix label offset */
}

footer a:hover {
      text-decoration: underline;
}


  /* HEADER STYLING */
.logo-container {
    width: 100%;
    height: 100px;
    background-color: white;
}

.logo {
    /* position: absolute; */
    /* margin-top: 0;
    margin-left: 0; */
    width: auto;
    height: 100px;
}

header {
    width: 100%;
    margin: 0;
}

.menu_bar span {
    float: right;
    font-size: 50px;
    display: block;
    position: fixed;
    top: 25px;
    right: 25px;
    padding: 4px;
    border: black solid 1px;
    background-color: white;
}

.menu_bar:hover {
    cursor: pointer;
}

.menu ul {
    display: flex;
    list-style: none;
    flex-direction: column;
    align-items: flex-end;
    top: 75px;
    right: 25px;
}

.menu li a {
    border-left: 1px solid black;
    display: flex;
    padding: 30px;
    color: black;
    text-decoration: none;
    background-color: white;
    width: 200px;
}

.menu li a:hover {
    background-color: pink;
}

@media (min-width: 800px) {
    .menu ul {
        flex-direction: row;
        justify-content: flex-end;
        top: 0;
        right: 0;
    }

    .menu li a {
        width: 140px;
        height: 70px;
        align-items: center;
        padding: 15px 0px;
        justify-content: center;
    }

    .logo-container {
        height: 100px;
        /* z-index: -1; */
    }

    .menu_bar span {
        display: none;
    }

    header {
        position: sticky;
        height: 100px;
        /* margin-bottom: 100px; */
        display: flex;
        align-items: stretch;
        background-color: white;
    }
}