h1 {
    text-align: center;
    text-transform: uppercase;

    /* A METTRE A LA CHARTE */
    font-family: 'Courier New', Courier, monospace;
    color: #F76C6C;
    /* A METTRE A LA CHARTE */
}

h2 {
    text-align: center;
    padding: 5px;

    /* A METTRE A LA CHARTE */
    background-color: #404A53;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    /* A METTRE A LA CHARTE */
}

form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.form-element {
    margin: 5px;
}

label {
    text-transform: uppercase;
    font-weight: 700;
}

body {
    /* A METTRE A LA CHARTE */
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
    /* A METTRE A LA CHARTE */
}

.form-button{
    margin-top: 1em;
    color: white;
    font-weight: bold;
    text-align: center;
}

button {
    /* A METTRE A LA CHARTE */
    background-color: #F76C6C;
    border: 1px solid #404A53;
    font-weight: 500;
    /* A METTRE A LA CHARTE */

    color: white;
    font-size: 20px;
    padding: 3px 15px;
    border-radius: 8px;
    opacity: 0.9;
}

button:hover {
    box-shadow: 0 0.2em 0.2em 0;
    opacity: 1;
    font-weight: 900;
}

.excuses-bidons {
    height: 17em;
    text-align: center;
    background-color: rgba(132, 145, 146, 50%);
}

.form-element {
    width: 65vw;
    display: flex;
    justify-content: space-between;
}
/* 
.btn {
    background-color: pink;
}

.btn:hover {
    background-color: pink;
    opacity: 0.5;
} */