* {
    margin: 0;
    padding: 0;
}

html{
    margin: 0;
}

body {
    background:#849192;
}

img {
    width: 10%;
}

header nav {
    width: 100%;
    margin: 0;
    background: #fff;
}

.menu_bar span {
    float:right;
    font-size: 50px;
}

.menu_bar {
    display: none;
    position: fixed;
    top: 1rem;
    right: 1rem;
    padding: 4px;
    border: black solid 1px;
}
.menu_bar:hover {
    cursor: pointer;
    background: rgba (0,0,0,0.3);
}

.menu ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end ;
    list-style: none;
   
}

.menu li {
    border-left: 1px solid black;
}
.menu li a {
    display: block;
    padding: 30px;
    color: black;
    text-decoration: none;
}

.menu li:hover {
    background: pink;
}

.menu {
   text-align: right;
  
@media (max-width: 768px) {
    .menu_bar span {
        display: block;
    }
}

